
SensorStreaming/SensorStreaming.xcodeproj/project.xcworkspace/xcuserdata/mharding.xcuserdatad/UserInterfaceState.xcuserstate

SensorStreaming/SensorStreaming.xcodeproj/project.xcworkspace/xcuserdata/mharding.xcuserdatad/WorkspaceSettings.xcsettings

SensorStreaming/SensorStreaming.xcodeproj/xcuserdata/mharding.xcuserdatad/xcschemes/SensorStreaming.xcscheme

SensorStreaming/SensorStreaming.xcodeproj/xcuserdata/mharding.xcuserdatad/xcschemes/xcschememanagement.plist

SensorStreaming/SensorStreaming.xcodeproj/xcuserdata/mharding.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
